header{
    background-color: #01292f;
    overflow: hidden;
    margin: -8px;
}
nav{
    float: right;
    margin-right: 48px;
}
ul{
    float: right;
    list-style: none;
    margin: 14px;
}

li{
    width: 100px;
    text-align: center;
    padding: 30px 0 ;
}

ul li{
    display: inline-block;

}

ul li a{
    text-decoration: none;
    color: blanchedalmond;
    padding: 5px 15px;
    border:  1px solid transparent;
    transition: 0.6s ease;
    font-family: sans-serif;

}

ul li a:hover{
    background: tomato;
    color: black;
    border: 2px solid tomato;
    border-radius: 40px;
    transition-duration: 0.5s;

}

#logo{
    width: 150px;
    float: left;
    height: auto;
}

.atas{
    max-width: 1200px;
    margin: auto;
}

p{
    text-align: left;
    font-size: 20px;
    color: rgb(233, 209, 177);
}

@media(max-width: 700px){
    p{
        text-align: left;
        font-size: 10px;
        color: #e7540f;
    }
}

@media(max-width: 700px){
    p{
        text-align: justify;
        font-size: 10px;
        color: darkred;
    }
}